NEXT_PUBLIC_SUPABASE_URL=https://ckovospxpojluwrwewuj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrb3Zvc3B4cG9qbHV3cndld3VqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NTgxOTUsImV4cCI6MjA3MjEzNDE5NX0.0mkKrLVnmEFsnG_QnatTDqMGkiF2_P0EtjoN0qCOIhQ